@supports (grid-area:auto) {

/* GRID SPECIFICATION */
  .site{
    display: grid;
    grid-template-columns: 9.5% 30% 51% 9.5%;
    grid-template-rows: 45px 110px 105px 67px 300px 105px 235px 35px 180px 235px 32px 50px;
  }

.header{
  grid-column: 1/5;
  grid-row: 1/2;
  background-image: linear-gradient(#2498ff, #1d85d9);
}

.navbar{
  grid-column: 1/5;
  grid-row: 2/3;
  background: #134670;
}

.title{
  grid-column: 2/4;
  grid-row: 3/4;
  margin: 15px 0px 15px 0px;
  background: #33cc66;
  border-radius: 5px;
}


.announce{
  grid-column: 2/4;
  grid-row: 4/5;
  padding: 15px 15px 0px 15px;
  margin-bottom: -5px;
  background: #eeeeee;
  border-radius: 5px;
}

.tasks{
  grid-column: 2/3;
  grid-row: 5/6;
  padding: 0px 0px 0px 15px;
  background-image: linear-gradient(#eeeeee, #ffffff);
}

.data{
  grid-column: 3/4;
  grid-row: 5/7;
  padding: 0px 15px 0px 0px;
  background-image: linear-gradient(#eeeeee, #ffffff);
}

.recs{
  grid-column: 2/3;
  grid-row: 6/8;
  margin: 0px 0px 0px 15px;
  background:#ffffff;
  border-left: 1px solid #eeeeee;
  z-index: 2;
}

.blank{
  grid-column: 2/3;
  grid-row: 8/10;
  margin: 0px 0px 0px 15px;
  border-left: 1px solid #eeeeee;
  z-index: 2;
}

.contacts{
  grid-column: 3/4;
  grid-row: 7/9;
  margin: 0px 15px 0px 0px;
  background:#ffffff;
  border: 1px solid #eeeeee;
  z-index: 2;
}

.news{
  grid-column: 3/4;
  grid-row: 9/10;
  margin: 0px 15px 0px 0px;
  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  z-index: 2;
}

.ads{
 grid-column: 2/4;
 grid-row: 10/11;
 margin:0px 15px 15px 15px;
 background: #2298f4;
 z-index: 2;
}

.footer{
  grid-column: 1/5;
  grid-row: 12/13;
  background-image: linear-gradient(#ffffff, #eeeeee);
  box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.2);
}

/* GRID SPECIFICATION END */

/* FLEX */

.flex-center{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.flex-center-nowrap{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}


.flex-left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-space-between{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.flex-space-between-column{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.flex-space-between-nowrap{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.flex-space-evenly{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

.break {
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;
  display: inline-block;
  }

/* FLEX END*/

/* BODY STYLING */

@font-face {
  font-family: 'myriadpro';
  src: url('../fonts/myriad-pro-regular.ttf');
  font-style: normal;
  font-weight: 400;
}

body{
  margin: 0px;
  font-family: 'myriadpro';
  font-weight: 400;
}

p{
  color: #ffffff;
  font-size: 14px;
  margin: 0px;
}

h1{
  font-family: 'myriadpro';
  font-weight: 400;
}

h2{
  font-weight: 400;
  font-size: 32px;
  color: #2498f4;
  margin: 0px;
}

h3{
  font-weight: 400;
  font-size: 21px;
  color: #2498f4;
  margin: 17px 0px 17px 0px;
}

h4{
  font-weight: 400;
  font-size: 13px;
  color: #999999;
  margin: 12px;
}

h5{
  font-weight: 400;
  font-size: 10px;
  color: #777777;
  margin:0px;
}

/* BODY END */

/* HEADER */
.header-text{
  color: #ffffff;
  font-weight: bold;
}

.help-icon {
  border-right: 1px solid #1C85D8;
  border-left: 1px solid #1C85D8;
  padding: 6px 12px 6px 12px;
  margin: 0px 12px 0px 12px;
}

.settings-white{
  margin-right: 125px;
}

/* HEADER */

/* NAVBAR */
.dashboard{
  margin: 0px 32px 15px 0px;
  z-index: 4;
}

.dashboard:hover{
  cursor:pointer;
}

.customers{
  margin: 0px 30px 20px 0px;
  z-index: 4;
}

.customers:hover{
  cursor:pointer;
}

.messages{
  margin: 0px 37px 15px 0px;
  z-index: 4;
}

.messages:hover{
  cursor:pointer;
}

.promotions{
  margin: 0px 46px 17px 0px;
  z-index: 4;
}

.promotions:hover{
  cursor:pointer;
}

.pagecreator{
  margin: 0px 45px 18px 0px;
  z-index: 4;
}

.pagecreator:hover{
  cursor:pointer;
}

.analytics{
  margin: 0px 0px 14px 0px;
  z-index: 4;
}

.analytics:hover{
  cursor:pointer;
}

.shadow-dashboard {
  margin: 0px 30px 0px 10px;
  z-index: 4;
}

.shadow-customers{
  margin: 0px 30px 0px 0px;
}

.shadow-messages{
  margin: 0px 32px 0px 0px;
  z-index: 4;
}

.shadow-promotions{
  margin: 0px 32px 0px 0px;
  z-index: 4;
}

.shadow-pagecreator{
  margin: 0px 32px 0px 0px;
  z-index: 4;
}

.navbar-shading{
  position: absolute;
  z-index: 1;
}

.stripe-pattern{
  position: absolute;
  top: 45px;
  z-index: 2;
}

.navbar-fadeleft{
  position: absolute;
  top: 45px;
  left:0px;
  z-index: 3;
}

.navbar-faderight{
  position: absolute;
  top: 45px;
  right:0px;
  z-index: 3;
}


/* NAVBAR END */

/* TITLE */
.dashboard-text{
  margin: 0px 27px 0px 27px;
  color: #ffffff;
  font-size: 36px;
}

.search-box{
  width: 258px;
  height: 34px;
  background-color: #f4f4f4;
  border-radius: 2px;
  margin-right: 15px;
}

.search-box:focus{
  background-color: #ffffff;
}

form{
  font-family: 'myriadpro';
}

form input[type=text] {
  width: 258px;
  height: 34px;
  background-color: #f4f4f4;
  border: 1px solid #2db55b;
  border-radius: 2px;
  font-family: 'myriadpro';
  font-size: 14px;
  background: url(../images/search.png) 96% / 10% no-repeat;
}

.search{
  margin-right: 9px;
}

/* TITLE END */

/* BORDER */


/* BORDER END */

/* ANNOUNCEMENTS */
.announcements{
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.announcements-text{
  flex-basis: 18%;
  font-family: 'myriadpro';
  color: #fe7f13;
  font-size: 14px;
  padding: 0px 15px 0px 19px;
}

.announcements-message{
  flex-basis: 74%;
  font-family: 'myriadpro';
  color: #777777;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
}

.announcements-buttons{
  flex-basis: 78px;
}

.annoucnce-btn{
  height:16px;
  width: 16px;
  background-color: #ffffff;
  border: 2px solid #ededed;
  border-radius: 999px;
  margin:0px 3px 0px 3px;
}

.rotate{
  transform: rotate(180deg);
}

.announcements-divider{
  height: 52px;
  width: 1px;
  background-color: #eeeeee;
}

/* ANNOUNCEMENTS END*/

/* TASKS */
.task-content{
  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
}

.tasks-title{
  margin: 22px 20px 0px 22px;
}

.settings-gray{
  margin: 24px 20px 0px 20px;
}

.task{
  border-bottom: 1px solid #eeeeee;
}

.disabled-task-number{
  height: 24px;
  width: 24px;
  background-color: #cccccc;
  border-radius: 999px;
  font: 'myriadpro' 18px #ffffff;
  margin: 0px 12px 0px 12px;
}

.task-number{
  height: 24px;
  width: 24px;
  background-color: #32cc66;
  border-radius: 999px;
  font: 'myriadpro' 18px #ffffff;
  margin: 0px 12px 0px 12px;
}

.task-profile{
  height: 30px;
  width: 60px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin: 0px 10px 0px 10px;
}

.task-profile-num{
  color: #2498f3;
  font-size: 16px;
  margin: 0px 9px 0px 0px;
}

.disabled-text{
  color: #cccccc;
}

.profile{
  margin: 0px 7px 0px 6px;
}

.profile-disabled{
  margin: 0px 8px 0px 6px;
}

/* TASKS END */

/* ANALYTICS */
.analytics-content{
  background: #ffffff;
  border: 1px solid #eeeeee;
  display: grid;
  grid-template-columns: 78% 22% ;
  grid-template-rows:73px 31px 212px 89px;
}

.analytics-title{
  grid-column: 1/3;
  grid-row: 1/2;
  margin: 22px 20px 0px 22px;
}

.graph-img{
  grid-column: 1/2;
  grid-row: 3/4;
}

.graph-title{
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 0px 0px 0px 50px;
}

select{
  font-family: 'myriadpro';
  color: #666666;
  font-size: 13px;
  border-color: #dddddd;
  border-radius: 3px;
  padding: 7px 32px 6px 11px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/carrot-down.png) 93% / 7% no-repeat;
}

.dropdown-menu{
  margin: 0px 42px 0px 0px;
}

.graph-img{
  width:90%;
  height: auto;
  margin: 0px 0px 0px 24px;
}

.graph{
  border-right: 1px solid #eeeeee;
}

.pie-charts{
  grid-column: 2/3;
  grid-row: 2/4;
  border-left: 1px solid #dddddd;
}

.flex-pie{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.social-checks{
  grid-column: 1/3;
  grid-row: 4/5;
  background-color: #ffffff;
}

.social-checks form{
  height: 5px;
}

form input[type=checkbox]{
  width:22px;
  height:21px;
  margin: 0px 0px 0px -22px;
  padding: 0px;
  opacity:0;
}

form input[type=checkbox] + label{
  display:inline-block;
  height:24px;
  margin: 0px 0px 0px -22px;
  padding: 0px 0px 0px 22px;
  background: url(../images/unchecked-checkbox.svg) no-repeat;
}

form input[type=checkbox]:checked + label{
  display:inline-block;
  height:24px;
  margin: 0px 0px 0px -22px;
  padding: 0px 0px 0px 27px;
  background: url(../images/checked-checkbox.svg) no-repeat;
}

.social-checks form label{
  color: #ffffff;
  font-size: 12px;
}

.facebook-check p{
  font-size: 12px;
  text-align: center;
  width: 70px;
  background-color: #114570;
  border-radius: 3px;
}

.facebook-check{
  margin: 0px 32px 0px 0px;
}

.twitter-check p{
  font-size: 12px;
  text-align: center;
  width: 54px;
  background-color: #2298f4;
  border-radius: 3px;
}

.twitter-check{
  margin: 0px 32px 0px 0px;
}

.foursquare-check p{
  font-size: 12px;
  text-align: center;
  width: 79px;
  background-color: #3a599b;
  border-radius: 3px;
}

.foursquare-check{
  margin: 0px 32px 0px 0px;
}

.google-check p{
  font-size: 12px;
  text-align: center;
  width: 62px;
  background-color: #31cc66;
  border-radius: 3px;
}

.google-check{
  margin: 0px 32px 0px 0px;
}
/* ANALYTICS */

/* RECOMMENDATIONS */
.recommendations-title{
  padding: 22px 20px 22px 22px;
  border-bottom: 1px solid #eeeeee;
}

.recommendation{
  border-bottom: 1px dotted #eeeeee;
}

.article{
  margin: 5px 17px 0px 14px;
}

.lightbulb{
  margin: 5px 23px 0px 14px;
}

.check{
  margin: 5px 15px 0px 14px;
}


.recommendation-text{
  padding: 5px 5px 12px 0px;
}

.rec-type{
}

.rec-title{
  font-size: 16px;
  color: #777777;
  margin: 0px;
}

/* RECOMMENDATIONS END */

/* CUSTOMERS AND CONTACTS */

.contacts-card{
  width:212px;
  height: 197px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  margin: 0px 35px 0px 35px;
}

.contacts-card:hover{
  cursor: pointer;
}

.avatar-green, .avatar-orange{
  margin-top: -24px;
}

.ribbon-content{
  height: 50px;
  width:212px;
  text-align: center;
  background-color: #218fe6;
}

.ribbon-content h3{
  color: #ffffff;
  margin:5px 0px 0px 0px;
}

.ribbon-content p{
  font-size: 11px;
}

.ribbonend-left{
  margin-left: -14px;
}

.ribbonend-right{
  margin-right: -14px;
}

.contacts-graph, .customers-chart{
  margin:10px;
}

/* CUSTOMERS AND CONTACTS END */

/* NEWS */

.didyouknow{
  width: 94%;
  height: 78%;
  background-color: #2498f4;
  border-radius: 3px;
}

.didyouknow-text{
  flex-basis:81%;
  font: 'myriadpro' 15px #ffffff;
}

.didyouknow-title{
  color: #ffffff;
  margin: 0px;
}

.dyk-back:hover{
  margin-left: -5px;
  transition-duration: .5s;
  cursor:pointer;
}

.dyk-next:hover{
  margin-right: -5px;
  cursor:pointer;
  transition-duration: .5s;
}

/* NEWS END */

/* ADS */
.advertisement1{
  position: relative;
  width: 30%;
  height:73%;
  background-color: #ffffff;
  border: 2px solid #2298f4;
  border-radius: 3px;
}

.advertisement1:hover{
  border: 2px solid #33cc66;
  cursor: pointer;
}

.ad1{
  height: 80%;
  width: 80%;
}

.ad1-text{
  position:absolute;
  top:30%;
  right:8%;
}

.ad1-1{
  font-size: 20px;
  color: #33cc66;
  text-align: right;
}

.ad1-2{
  font-size: 14px;
  color: #666666;
  text-align: right;
}

.ad2{
  position: absolute;
  left: 5%;
  height: 100%;
  width: 90%;
  margin-top: -10px;
}

.ad2-text{

}

.ad2-1{
  padding: 7px 0px 7px 0px;
  transition-duration: .5s;
  position:absolute;
  top:56%;
  left: 4%;
  background-color: #33cc66;
  width: 92%;
  border-radius: 3px;
  text-align: center;
}

.ad2-1:hover{
  position:absolute;
  top:53%;
}

.ad3{
  position: absolute;
  right:0%;
  height: 100%;
  width: 80%;
}

.ad3-text{
  position:absolute;
  top:30%;
  left:8%;
}

.ad3-1{
  font-size: 20px;
  color: #fe7f13;
  text-align: left;
}

/* ADS END */

/* FOOTER */
.footer-links{
  margin-right: 15px;
}

.footer-links p{
  color: #999999;
  margin: 0px 12px 0px 12px;
}
.footer-links-divider{
  height: 20px;
  width: 1px;
  background-color: #dddddd;
}

.footer-divider{
  height: 50px;
  width: 1px;
  background-color: #dddddd;
}

.footer-update{
  margin: 0px 15px 0px 20px;
}

.footer-update p{
  color: #777777;
  padding: 0px 2px 0px 2px;
}

.blue-carrot-up{
  margin-left: 85px;
}

.statusbar-avatar{
  margin: 0px 12px 0px 12px;
}

.footer-avatar p{
  font-weight: bold;
  color: #2498f2;
  margin-right: 15px;
}

.footer-icons{
  margin: 0px 15px 0px 15px;
}

.facebook{
  margin-right: 5px;
}

.twitter{
  margin-right: 5px;
}

.foursquare{
  margin-right: 5px;
}

/* FOOTER END */

}
