@supports (grid-area:auto) {

/* GRID SPECIFICATION */
.site{
  display: grid;
  grid-template-columns: 1fr 34% 56% 1fr;
  grid-template-rows: 45px 110px 105px 67px 300px 105px 235px 35px 180px 235px 32px 50px;
}

.header{
  grid-column: 1/5;
  grid-row: 1/2;
  background-image: linear-gradient(#2498ff, #1d85d9);
}

.navbar{
  grid-column: 1/5;
  grid-row: 2/3;
  background: #134670;
}

.title{
  grid-column: 2/4;
  grid-row: 3/4;
  margin: 15px 0px 15px 0px;
  background: #33cc66;
  border-radius: 5px;
}

.announce{
  grid-column: 2/4;
  grid-row: 4/5;
  padding: 15px 15px 0px 15px;
  margin-bottom: -5px;
  background: #eeeeee;
  border-radius: 5px;
}

.tasks{
  grid-column: 2/3;
  grid-row: 5/6;
  padding: 0px 0px 0px 15px;
  background-image: linear-gradient(#eeeeee, #ffffff);
}

.data{
  grid-column: 3/4;
  grid-row: 5/7;
  padding: 0px 15px 0px 0px;
  background-image: linear-gradient(#eeeeee, #ffffff);
}

.recs{
  grid-column: 2/3;
  grid-row: 6/8;
  margin: 0px 0px 0px 15px;
  background:#ffffff;
  border-left: 1px solid #eeeeee;
  z-index: 2;
}

.blank{
  grid-column: 2/3;
  grid-row: 8/10;
  margin: 0px 0px 0px 15px;
  border-left: 1px solid #eeeeee;
  z-index: 2;
}

.contacts{
  grid-column: 3/4;
  grid-row: 7/9;
  margin: 0px 15px 0px 0px;
  background:#ffffff;
  border: 1px solid #eeeeee;
  z-index: 2;
}

.news{
  grid-column: 3/4;
  grid-row: 9/10;
  margin: 0px 15px 0px 0px;
  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  z-index: 2;
}

.ads{
 grid-column: 2/4;
 grid-row: 10/11;
 margin:0px 15px 15px 15px;
 background: #2298f4;
 z-index: 2;
}

.footer{
  grid-column: 1/5;
  grid-row: 12/13;
  background-image: linear-gradient(#ffffff, #eeeeee);
  box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.2);
}

/* GRID SPECIFICATION END */

/* FLEX */

.flex-center{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.flex-center-nowrap{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}


.flex-left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-space-between{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.flex-space-between-column{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.flex-space-between-nowrap{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.flex-space-evenly{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-space-evenly-column{
  display:flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.break {
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;
  display: inline-block;
  }

/* FLEX END*/

/* BODY STYLING */

@font-face {
  font-family: 'myriadpro';
  src: url('../fonts/myriad-pro-regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face{
  font-family: 'proxima nova bold';
  src: url('../fonts/proxima-nova-bold.ttf');
  font-style: normal;
  font-weight: bold;
}

@font-face{
  font-family: 'proxima nova';
  src: url('../fonts/proxima-nova-regular.ttf');
  font-style: normal;
  font-weight: bold;
}

body{
  margin: 0px;
  font-family: 'myriadpro';
  font-weight: 400;
}

p{
  color: #ffffff;
  font-size: 14px;
  margin: 0px;
}

h1{
  font-family: 'myriadpro';
  font-weight: 400;
  margin: 0px 27px 0px 27px;
  color: #ffffff;
  font-size: 36px;
}

h2{
  font-weight: 400;
  font-size: 32px;
  color: #2498f4;
  margin: 20px 0px 0px 0px;
}

h3{
  font-weight: 400;
  font-size: 21px;
  color: #2498f4;
  margin: 17px 0px 17px 0px;
}

h4{
  font-weight: 400;
  font-size: 13px;
  color: #999999;
  margin: 12px;
}

h5{
  font-weight: 400;
  font-size: 10px;
  color: #777777;
  margin:0px;
}

.help-icon, .settings-white, .annoucnce-btn, .analytics, .channels-pie, .referrals-pie, .settings-gray, .task, .task-profile, .contacts-card, .recommendation, .advertisement1:hover{
  cursor:pointer;
}

/* BODY END */

/* HEADER */
.header p{
  font-family: 'proxima nova bold', Georgia, sans-serif;
  color: #ffffff;
  font-weight: bold;
}

.help-icon {
  border-right: 1px solid #1C85D8;
  border-left: 1px solid #1C85D8;
  padding: 6px 12px 6px 12px;
  margin: 0px 12px 0px 12px;
}

.settings-white{
  margin-right: 125px;
}

/* HEADER END */

/* NAVBAR */
.dashboard{
  margin: 0px 32px 15px 0px;
  z-index: 4;
}

.dashboard:hover{
  cursor:pointer;
  margin: 0px 32px 15px 0px;
  z-index: 4;
}

.customers{
  margin: 0px 30px 20px 0px;
  z-index: 4;
}

.customers:hover{
  cursor:pointer;
  margin: 0px 30px 20px 0px;
  z-index: 4;
}

.messages{
  margin: 0px 37px 15px 0px;
  z-index: 4;
}

.messages:hover{
  cursor:pointer;
  margin: 0px 37px 15px 0px;
  z-index: 4;
}

.promotions{
  margin: 0px 46px 17px 0px;
  z-index: 4;
}

.promotions:hover{
  cursor:pointer;
  margin: 0px 46px 17px 0px;
  z-index: 4;
}

.pagecreator{
  margin: 0px 45px 18px 0px;
  z-index: 4;
}

.pagecreator:hover{
  cursor:pointer;
  margin: 0px 45px 18px 0px;
  z-index: 4;
}

.analytics{
  margin: 0px 0px 14px 0px;
  z-index: 4;
}

.shadow-dashboard {
  margin: 0px 30px 0px 10px;
  z-index: 4;
}

.shadow-customers{
  margin: 0px 30px 0px 0px;
}

.shadow-messages{
  margin: 0px 32px 0px 0px;
  z-index: 4;
}

.shadow-promotions{
  margin: 0px 32px 0px 0px;
  z-index: 4;
}

.shadow-pagecreator{
  margin: 0px 32px 0px 0px;
  z-index: 4;
}

.shading{
  width:100%;
  height:110px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.stripes{
  width:100%;
  height: 75px;
  overflow: hidden;
  position: absolute;
  top: 45px;
  z-index: 2;
}

.navbar-fadeleft{
  position: absolute;
  top: 45px;
  left:0px;
  z-index: 3;
}

.navbar-faderight{
  position: absolute;
  top: 45px;
  right:0px;
  z-index: 3;
}

/* NAVBAR END */

/* TITLE */
.search-box{
  background-color: #f4f4f4;
  border-radius: 2px;
  margin: 15px 15px 15px 350px;
  height:inherit;
  width: inherit;
}

.search-box:focus{
  background-color: #ffffff;
}

form{
  font-family: 'myriadpro';
}

form input[type=text] {
  width: 258px;
  height: 34px;
  background-color: #f4f4f4;
  border: 1px solid #2db55b;
  border-radius: 2px;
  font-family: 'myriadpro';
  font-size: 14px;
  background: url(../images/search.png) 96% / 10% no-repeat;
}

.search{
  margin-right: 9px;
}

/* TITLE END */


/* ANNOUNCEMENTS */
.announcements{
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.announcements-text{
  flex-basis: 18%;
  font-family: 'myriadpro';
  text-align: center;
  color: #fe7f13;
  font-size: 14px;
  padding: 5px 15px 3px 19px;
}

.announcements-message{
  flex-basis: 74%;
  font-family: 'myriadpro';
  color: #777777;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
}

.announcements-buttons{
  flex-basis: 78px;
}

.annoucnce-btn{
  height:16px;
  width: 16px;
  background-color: #ffffff;
  border: 2px solid #ededed;
  border-radius: 999px;
  margin:0px 3px 0px 3px;
}

.rotate{
  transform: rotate(180deg);
}

.announcements-divider{
  height: 52px;
  width: 1px;
  background-color: #eeeeee;
}

/* ANNOUNCEMENTS END*/

/* TASKS */
.task-content{
  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
}

.tasks-title{
  margin: 22px 20px 0px 22px;
}

.settings-gray{
  margin: 24px 20px 0px 20px;
}

.task{
  border-bottom: 1px solid #eeeeee;
}

.disabled-task-number{
  height: 24px;
  width: 24px;
  background-color: #cccccc;
  border-radius: 999px;
  font: 'myriadpro' 18px #ffffff;
  margin: 0px 12px 0px 12px;
}

.task-number{
  height: 24px;
  width: 24px;
  background-color: #32cc66;
  border-radius: 999px;
  font: 'myriadpro' 18px #ffffff;
  margin: 0px 12px 0px 12px;
}

.task-profile{
  height: 30px;
  width: 60px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin: 0px 10px 0px 0px;
}

.task-profile-num{
  color: #2498f3;
  font-size: 16px;
  margin: 0px 9px 0px 0px;
}

.disabled-text{
  color: #cccccc;
}

.profile{
  margin: 0px 7px 0px 6px;
}

.profile-disabled{
  margin: 0px 8px 0px 6px;
}

/* TASKS END */

/* ANALYTICS */
.analytics-content{
  background: #ffffff;
  border: 1px solid #eeeeee;
  display: grid;
  grid-template-columns: 78% 22% ;
  grid-template-rows:73px 31px 212px 89px;
}

.analytics-title{
  grid-column: 1/3;
  grid-row: 1/2;
  margin: 22px 20px 0px 22px;
}

.graph-img{
  grid-column: 1/2;
  grid-row: 3/4;
}

.graph-title{
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 0px 0px 0px 50px;
}

select{
  font-family: 'myriadpro';
  color: #666666;
  font-size: 13px;
  border-color: #dddddd;
  border-radius: 3px;
  padding: 7px 32px 6px 11px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/carrot-down.png) 93% / 7% no-repeat;
}

.dropdown-menu{
  margin: 0px 42px 0px 0px;
}

.graph-analytics{
  width: 90%;
  height: auto;
  margin: 0px 0px 0px 24px;
}

.graph{
  border-right: 1px solid #eeeeee;
}

.pie-charts{
  grid-column: 2/3;
  grid-row: 2/4;
  border-left: 1px solid #dddddd;
}

.flex-pie{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.social-checks{
  grid-column: 1/3;
  grid-row: 4/5;
  background-color: #ffffff;
  margin: 0px 50px 0px 50px;
}

/* checkboxes */

.social-checks form{
  height: 5px;
}

form input[type=checkbox]{
  width:22px;
  height:21px;
  margin: 0px 0px 0px -22px;
  padding: 0px;
  opacity:0;
}

form input[type=checkbox] + label{
  display:inline-block;
  height:24px;
  margin: 0px 0px 0px -22px;
  padding: 0px 0px 0px 22px;
  background: url(../images/unchecked-checkbox.svg) no-repeat;
}

form input[type=checkbox]:checked + label{
  display:inline-block;
  height:24px;
  margin: 0px 0px 0px -22px;
  padding: 0px 0px 0px 27px;
  background: url(../images/checked-checkbox.svg) no-repeat;
}

.social-checks form label{
  color: #ffffff;
  font-size: 12px;
}

.facebook-check p{
  font-size: 12px;
  text-align: center;
  width: 70px;
  background-color: #114570;
  border-radius: 3px;
}

.facebook-check{
  margin: 0px 32px 0px 0px;
}

.twitter-check p{
  font-size: 12px;
  text-align: center;
  width: 54px;
  background-color: #2298f4;
  border-radius: 3px;
}

.twitter-check{
  margin: 0px 32px 0px 0px;
}

.foursquare-check p{
  font-size: 12px;
  text-align: center;
  width: 79px;
  background-color: #3a599b;
  border-radius: 3px;
}

.foursquare-check{
  margin: 0px 32px 0px 0px;
}

.google-check p{
  font-size: 12px;
  text-align: center;
  width: 62px;
  background-color: #31cc66;
  border-radius: 3px;
}

.google-check{
  margin: 0px 0px 0px 0px;
}

/* ANALYTICS END */

/* RECOMMENDATIONS */
.recommendations-title{
  padding: 22px 20px 22px 22px;
  border-bottom: 1px solid #eeeeee;
}

.recommendation{
  border-bottom: 1px dotted #eeeeee;
}

.article{
  margin: 5px 17px 0px 14px;
}


.lightbulb{
  margin: 5px 23px 0px 14px;
}

.check{
  margin: 5px 15px 0px 14px;
}


.recommendation-text{
  padding: 5px 5px 12px 0px;
}

.rec-type{
}

.rec-title{
  font-size: 16px;
  color: #777777;
  margin: 0px;
}

/* RECOMMENDATIONS END */

/* CUSTOMERS AND CONTACTS */

.contacts-card{
  width:212px;
  height: 197px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
}

.avatar-green, .avatar-orange{
  margin-top: -24px;
}

.ribbon-content{
  height: 50px;
  width:212px;
  text-align: center;
  background-color: #218fe6;
}

.ribbon-content h3{
  color: #ffffff;
  margin:5px 0px 0px 0px;
}

.ribbon-content p{
  font-size: 11px;
}

.ribbonend-left{
  margin-left: -14px;
}

.ribbonend-right{
  margin-right: -14px;
}

.contacts-graph, .customers-chart{
  margin:10px;
}

/* CUSTOMERS AND CONTACTS END */

/* NEWS */

.didyouknow{
  width: 94%;
  height: 78%;
  background-color: #2498f4;
  border-radius: 3px;
}

.didyouknow-text{
  flex-basis:81%;
  font: 'myriadpro' 15px #ffffff;
}

.didyouknow-title{
  color: #ffffff;
  margin: 0px;
}

.dyk-back:hover{
  margin-left: -5px;
  transition-duration: .5s;
  cursor:pointer;
}

.dyk-next:hover{
  margin-right: -5px;
  cursor:pointer;
  transition-duration: .5s;
}

/* NEWS END */

/* ADS */
.advertisement1{
  position: relative;
  width: 30%;
  height:73%;
  background-color: #ffffff;
  border: 2px solid #2298f4;
  border-radius: 3px;
}

.ad1{
  height: 80%;
  width: 80%;
}

.ad1-text{
  position:absolute;
  top:30%;
  right:8%;
}

.ad1-1{
  font-size: 20px;
  color: #33cc66;
  text-align: right;
}

.ad1-2{
  font-size: 14px;
  color: #666666;
  text-align: right;
}

.ad2{
  position: absolute;
  left: 5%;
  height: 100%;
  width: 90%;
  margin-top: -10px;
}

.ad2-1{
  padding: 7px 0px 7px 0px;
  transition-duration: .5s;
  position:absolute;
  top:56%;
  left: 4%;
  background-color: #33cc66;
  width: 92%;
  border-radius: 3px;
  text-align: center;
}

.ad2-1:hover{
  position:absolute;
  top:53%;
}

.ad3{
  position: absolute;
  right:0%;
  height: 100%;
  width: 80%;
}

.ad3-text{
  position:absolute;
  top:30%;
  left:8%;
}

.ad3-1{
  font-size: 20px;
  color: #fe7f13;
  text-align: left;
}

/* ADS END */

/* FOOTER */
.footer-links{
  margin-right: 15px;
}

.footer-links p{
  font-family: 'proxima nova', Georgia, sans-serif;
  color: #999999;
  margin: 0px 12px 0px 12px;
}

.footer-links p:hover{
  text-decoration: underline;
  cursor:pointer;
}

.footer-links-divider{
  height: 20px;
  width: 1px;
  background-color: #dddddd;
}

.footer-divider{
  height: 50px;
  width: 1px;
  background-color: #dddddd;
}

.footer-update{
  margin: 0px 15px 0px 20px;
}

.footer-update p{
  font-family: 'proxima nova', Georgia, sans-serif;
  color: #777777;
  padding: 0px 2px 0px 2px;
}

a{
  font-family: 'proxima nova bold', Georgia, sans-serif;
  font-size: 14px;
  margin: 0px;
  font-weight: bold;
  color:#2498f2;
  text-decoration: none;
}

a:visited{
  color:#A400BD;
}

a:hover{
  text-decoration: underline;
}


.blue-carrot-up{
  margin-left: 55px;
}

.statusbar-avatar{
  margin: 0px 12px 0px 12px;
}

.footer-avatar a{
  margin-right: 15px;
}

.footer-icons{
  margin: 0px 15px 0px 15px;
}

.facebook{
  margin-right: 5px;
}

.twitter{
  margin-right: 5px;
}

.foursquare{
  margin-right: 5px;
}

/* FOOTER END */

}

/* MEDIA QUERIES */

/* OVER 1200PX SPECIFICATIONS */

@media only screen and (min-width: 1200px) {
  .site{
    display: grid;
    grid-template-columns: 1fr 355px 615px 1fr;
    grid-template-rows: 45px 110px 105px 67px 300px 105px 235px 35px 180px 235px 32px 50px;
  }

}

/* OVER 1200PX SPECIFICATIONS END */

/* BETWEEN 1200PX-925PX SPECIFICATIONS */

@media only screen and (max-width: 1200px) {
  .site{
    display: grid;
    grid-template-columns: 1fr 34% 56% 1fr;
    grid-template-rows: 45px 110px 105px 67px 300px 105px 235px 35px 180px 235px 32px 50px;
  }
}

/* BETWEEN 1200PX-925PX SPECIFICATIONS END */

/* BETWEEN 925PX-600PX SPECIFICATIONS */

@media only screen and (max-width: 925px) {

.site{
  display: grid;
  grid-template-columns: 1fr 38% 62% 1fr;
  grid-template-rows: 45px 110px 105px 67px 300px 105px 235px 35px 180px 235px 32px 100px;
}

h3 {
    font-size: 18px;
}

h2{
  font-size: 26px;
}

.settings-white {
    margin-right: 50px;
}

.search-box{
  margin: 15px 15px 15px 0px;
}

.blue-carrot-up {
    margin-left: 15px;
}

}

/* BETWEEN 925PX-600PX SPECIFICATIONS END*/

/* BELOW 600PX SPECIFICATIONS */

@media only screen and (max-width: 600px) {

  .site{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45px 180px 110px 115px 288px 478px 256px 540px 220px 500px 180px;
  }

  .header{
  grid-column: 1/2;
  grid-row: 1/2;
  background-image: linear-gradient(#2498ff, #1d85d9);
  }

  .navbar{
  grid-column: 1/2;
  grid-row: 2/3;
  background: #134670;
  }

  .title{
  grid-column: 1/2;
  grid-row: 3/4;
  background: #33cc66;
  border-radius: 0px;
  margin: 0px;
  }


  .announce{
  grid-column: 1/2;
  grid-row: 4/5;
  background: #ffffff;
  padding:0px;
  margin:0px;
  border-radius: 0px;
  }

  .tasks{
  grid-column:  1/2;
  grid-row: 5/6;
  padding: 0px;
  background: #ffffff;

  }

  .data{
  grid-column:  1/2;
  grid-row: 6/7;
  padding: 0px;
  background: #ffffff;
  border: none;
  }

  .recs{
  grid-column:  1/2;
  grid-row: 7/8;
  margin: 0px;
  background:#ffffff;
  border-left: 1px solid #eeeeee;
  z-index: 2;
  }


  .contacts{
  grid-column:  1/2;
  grid-row: 8/9;
  margin: 0px;
  background:#ffffff;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: none;
  border-right:none;
  z-index: 2;
  }

  .news{
  grid-column:  1/2;
  grid-row: 9/10;
  margin: 0px;
  background: #ffffff;
  border:none;
  z-index: 2;
  }

  .ads{
  grid-column: 1/2;
  grid-row: 10/11;
  margin:0px 15px 15px 15px;
  background: #2298f4;
  z-index: 2;
  }

  .footer{
  grid-column: 1/2;
  grid-row: 11/12;
  background-image: linear-gradient(#ffffff, #eeeeee);
  box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.2);
  }

  .blank {
    grid-column: 0/0;
    grid-row: 0/10;
    margin: 0px;
    border:none;
    z-index: -1;
}

/* HEADER CHANGES */
.header p {
    font-size: 11px;
}

  .help-icon {
    padding: 0px 12px 0px 12px;
}

.settings-white {
    margin-right: 25px;
}

/* MENU CHANGES */

.dashboard, .customers, .messages, .promotions, .pagecreator {
    margin-right:15px;
}

 .icon-shadow{
  z-index: -2;
}

.shadow-dashboard, .shadow-customers, .shadow-messages, .shadow-promotions, .shadow-pagecreator, .shadow-analytics{
  margin-top: -500px;
}

.navbar-fadeleft{
  z-index: -1;
}

.navbar-faderight{
  z-index: -1;
}

.navbar img{
  z-index: -1;
}

/* TITLE CHANGES */
  h1{
    font-family: 'myriadpro';
    font-weight: 400;
    margin: 12px 27px 0px 27px;
    color: #ffffff;
    font-size: 24px;
  }

  .search-box{
    margin: 15px 15px 15px 0px;
  }

  /* ANNOUNCEMENTS CHANGES */

  .flex-space-evenly{
    display:flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .announcements{
    border:none;
  }

  .announcements-divider{
    height: 0px;
    width: 0px;
    background-color: #eeeeee;
  }

  .announcements-buttons {
    flex-basis: 50px;
  }

.annoucnce-btn{
    margin: 0pc 15px 0px 15px;
  }

  .announcements-text{
    padding-top:12px;
  }

  /* TASKS CHANGES */

  .task-content{
    border-left: none;
  }

h2 {
    font-weight: 400;
    font-size: 24px;
    color: #2498f4;
    margin: 0px;
}

.tasks-title {
    margin: 20px 20px 10px 20px;
}

h3 {
    font-weight: 400;
    font-size: 18px;
    color: #2498f4;
}

.settings-gray {
    margin: 5px 20px 5px 20px;
}

/* ANALYTICS CHANGES */
.analytics-content{
  background: #ffffff;
  border: none;
  display: grid;
  grid-template-columns: 100% ;
  grid-template-rows:59px 31px 188px 120px 80px;
}


.analytics-title{
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 20px 20px 10px 20px;
}

h4{
  margin-left:20px;
}

.dropdown-menu {
    margin: 0px 20px 0px 0px;
}

.graph-img{
  grid-column: 1/2;
  grid-row: 3/4;
}

.graph-analytics{
  width: auto;
  height: 90%;
  margin: 15px 15px 15px 15px;
}

.graph-title{
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 0px 0px 0px 0px;
}

.pie-charts{
  grid-column: 1/2;
  grid-row: 4/5;
  border-left: none;
  margin: 25px 0px 15px 0px;
}

.social-checks{
  grid-column: 1/2;
  grid-row: 5/6;
  background-color: #ffffff;
  margin: 10px 50px 10px 50px;
}

.facebook-check {
    margin: 0px 32px 0px 0px;
}

.twitter-check {
    margin: 0px 32px 0px 0px;
}

.foursquare-check {
    margin: 0px 32px 0px 0px;
}

/* RECS CHANGES */

.recommendations-title{
  padding: 20px 20px 10px 20px;
}

/* ADS CHANGES */

.advertisement1 {
    position: relative;
    width: 50%;
    height: 30%;
    background-color: #ffffff;
    border: 2px solid #2298f4;
    border-radius: 3px;
}

/* FOOTER CHANGES */

.blue-carrot-up {
    margin-left: 15px;
}

.footer-divider {
    height: 0px;
    width: 0px;
    background-color: #dddddd;
}

}

/* BELOW 600PX SPECIFICATIONS END */
